internal/pycolmap
__pycache__/
interal/__pycache__/
tests/__pycache__/
.DS_Store
.vscode/
.idea/
__MACOSX/

# Virtual environment
venv/

# Cache
__pycache__/
*.pyc

# Pyenv local version file
.python-version

# Datasets and outputs
data/
360_extra_scenes/
*.tar
*.zip

# Training outputs
checkpoints/
render/

# COLMAP databases/logs
database.db
*.log
